<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="../../../assets/Logos/fotomia.jpeg" id="fotomia" class="img-fluid">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">María Valentina hernández Giordano</p>
        <p id="jr">Full Stack Developer Jr</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mí</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam libero magni accusantium earum sit vero, atque adipisci velit consequatur nisi nam id error quos nesciunt enim ducimus, odit aspernatur ipsa!</p>
            <h2>holis</h2>
        </span>
    </div>

</div>