<div>
    <a href="https://www.linkedin.com/in/valentinahzgo/"><img src="../../../assets/Logos/LogoLinkedin.png" alt="Linkedin" id="LogoLinkedin"></a>
    <a href="https://github.com/0Valenciaga"><img src="../../../assets/Logos/LogoGithub.png" alt="Github" id="LogoGithub"></a>
    <a href="https://twitter.com/0Valenciaga"><img src="../../../assets/Logos/LogoTwitter.png" alt="Twitter" id="LogoTwitter"></a>
    <a href="https://Instagram.com/0Valenciaga"><img src="../../../assets/Logos/LogoInstagram.png" alt="Instagram" id="LogoInstagram"></a>
</div>